<head>
	<style>
		table, th, td {
 		border: 1px solid black;
  		border-collapse: collapse;
		}
	</style>
	<title>
		Inventory Control and Forecasting
	</title>
</head>

<body>
	<h1>
		Inventory Control and Forecasting
	</h1>
	<h6>
		Nate Upp
	</h6>
	<h6>
		The Bonneville Shop
	</h6>
	<hr>
	<h2>
		Project Overview
	</h2>
	<p>
		Work with The Bonneville Shop of Denver, Colorado to create a web application that assists in 		inventory control, management, and prediction.
	</p>
	<h2>
		Project Fundamentals
	</h2>
	<p> 
	&nbsp;&nbsp;&nbsp;&nbsp;- Design and test a stand-alone application (Windows 10/ Linux)<br>
	&nbsp;&nbsp;&nbsp;&nbsp;- Inventory prediction and seasonality analysis.<br>
	&nbsp;&nbsp;&nbsp;&nbsp;- Individual SKU supplier pricing, with historical price deviations<br>
	&nbsp;&nbsp;&nbsp;&nbsp;- Create and follow project specifications using software engineering guidelines, ethics, and practices.
	</p>
	<hr>
	<p>
	&nbsp;&nbsp;&nbsp;&nbsp;The goal of inventory management is to minimize the stock quantity stored on hand, but to also maintain a level of inventory to never run out of an individual item. The stocking managers constantly monitor the level of inventory, and reorder more units when a certain threshold of inventory is reached.<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;I am currently interning with The Bonneville Shop located Denver, Colorado. As an online retailer of Triumph motorcycle parts and accessories, they have thousands of products that they currently stock. The Bonneville Shop WooCommerce, an open source plugin for wordpress to manage their webstore, customer interaction, and some limited inventory management using Stock Keeping Units (SKU). They also use Ordoro for inventory control and purchases from vendors.<br> <br>
&nbsp;&nbsp;&nbsp;&nbsp;This project addresses a shortcoming of their current system. Ordoro and WooCommerce do not have the ability to show historical vendor pricing of individual SKUs, or have effective methods of inventory forecasting. This application will be designed to accept csv lists of goods receipts, and customer purchases, and will forecast what the company needs to order for a selectable period of time. This application will also alert The Bonneville Shop when vendor prices for an SKU it recommends reordering is higher than it has been in historical orders. This will allow The Bonneville Shop to determine which of their vendors they would like to purchase from.
	<p>
	<table>
  <tr>
    <th>In-Scope</th>
    <td>
    	&nbsp;&nbsp;&nbsp;&nbsp;- Uses customer orders (usage) to predict how much to order in one purchase.<br>
    	&nbsp;&nbsp;&nbsp;&nbsp;- Assumes one purchase order (PO) per month per supplier.<br>
    	&nbsp;&nbsp;&nbsp;&nbsp;- Calculates how much needs to be ordered within the month to not stock out of an item. Calculations based on historical customer purchases using established inventory forecasting algorithms.<br>
    	&nbsp;&nbsp;&nbsp;&nbsp;- Import .csv files with button and file explorer<br>
    	&nbsp;&nbsp;&nbsp;&nbsp;- Display historical vendor pricing per item.<br>
    	&nbsp;&nbsp;&nbsp;&nbsp;- Prioritizes and highlights items that are listed as more expensive than in previous orders.<br>
    	&nbsp;&nbsp;&nbsp;&nbsp;- Inventory forecasting graphs for each item.<br>
    </td>
  </tr>
  <tr>
    <th>Out-Scope</th>
    <td>
    	&nbsp;&nbsp;&nbsp;&nbsp;- Interface with WooComerce API.<br>
    	&nbsp;&nbsp;&nbsp;&nbsp;- Auto updating<br>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- This application will be used only once a month during the reorder cycle.<br>
    </td>
  </tr>
  <tr>
    <th>Unresolved</th>
    <td>
    	&nbsp;&nbsp;&nbsp;&nbsp;- Interface with Ordoro API<br>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- If I have time, I might add an Ordoro Plugin.
    </td>
</table> 
</body>
</html>
